body,
h1,
p {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.section {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

input[type="number"] {
  width: 100%;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.primary {
  background-color: #007bff;
  color: #fff;
}

.secondary {
  background-color: #6c757d;
  color: #fff;
}

#buttonContainer {
  display: flex;
  justify-content: space-between;
}

input[type="checkbox"] {
  margin-right: 5px;
}
.labelContainer {
  width: 93%;
  min-width: 45px;
}
